/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

/* все фотографии взяты из бесплатных источников */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--article-font-family);
  font-variation-settings: var(--article-font-weight-regular);
  background: var(--dotted-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--header-and-button-font-family);
  margin-block-start: var(--header-margin-block-start);
  margin-block-end: var(--header-margin-block-end);
  min-block-size: var(--main-block-size);
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 20px;
}

.hero {
  font-size: var(--adaptive-hero-title-font-size);
}

.hero-title {
  font-size: var(--adaptive-hero-description-font-size);
  text-transform: uppercase;
}

/* основной блок */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container {
  font-weight: var(--header-and-button-font-weight-regular);
  max-inline-size: var(--main-inline-size);
  border: 2px solid var(--secondary-color);
  background-color: var(--contrast-color);
  margin-inline: auto;
}

.memory-piece__title {
  font-size: var(--basic-font-size);
  font-variation-settings: var(--article-font-weight-bold);
  border-bottom: 2px solid var(--secondary-color);
  padding-inline: 10px;
  padding-block: 5px;
}

.watermark {
  position: relative;
}

.watermark__text {
  font-size: var(--button-font-size);
  font-family: var(--header-and-button-font-family);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow:
    -1px -1px 0 var(--contrast-color),
    1px -1px 0 var(--contrast-color),
    -1px 1px 0 var(--contrast-color),
    1px 1px 0 var(--contrast-color);
}

@supports (-webkit-text-stroke: 1px var(--contrast-color)) {
  .watermark__text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--contrast-color);
  }
}

.memory-piece__image {
  inline-size: 100%;
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  object-position: center;
}

.memory-piece__text-block {
  border-top: 2px solid var(--secondary-color);
  padding: 25px;
  display: grid;
  gap: 25px;
}

.memory-piece__description {
  font-size: var(--basic-font-size);
}

.memory-piece__buttons-block {
  gap: 6px;
  display: flex;
  justify-content: flex-end;
}

.card__like-button {
  border: none;
  gap: 5px;
  block-size: 38px;
  padding: 0;
}

.buttons {
  background-color: var(--contrast-color);
  font-size: var(--button-font-size);
  font-family: var(--header-and-button-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  color: var(--contrast-color);
  padding: 0;
  min-inline-size: 130px;
  min-block-size: 38px;
  border: 2px solid var(--secondary-color);
}

.dialog__button-text {
  text-transform: uppercase;
}

.line-through {
  text-decoration: line-through;
}

/* эффекты при наведении */

.buttons:focus {
  outline: none;
}

.buttons:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--secondary-color);
}

.buttons::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  border: none;
}

.buttons:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--contrast-color);
  mix-blend-mode: difference;
}

.card__icon-floppy {
  min-inline-size: 39px;
}

.save-container {
  margin-inline: auto;
  margin-block-end: 100px;
}

.card__floppy-button {
  border: 2px solid var(--secondary-color);
  gap: 8px;
  min-inline-size: clamp(306px, 26.23vw, 336px);
  min-block-size: 55px;
  padding-inline: 18px;
}

.card__floppy-icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;

  fill: var(--contrast-color);
}

.button__text-save {
  border: none;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  background-color: transparent;
  block-size: 38px;
  inline-size: 38px;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--secondary-color);
}

/* анимации */

.like-icon {
  transform-origin: center;
  display: block;
  justify-self: center;
}

.like-icon .heart {
  transform-origin: center;
}

.core {
  transition: linear fill 0.3s 0.03s;
}

.main-body {
  transition: linear fill 0.3s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--secondary-color);
  transition: fill linear 0.3s 0s;
}

.like-icon:hover .main-body {
  fill: var(--secondary-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill linear 0.3s 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill linear 0.3s 0s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .heart {
  animation: heartPulse 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparksFly 0.3s ease-in 0.3s;
}

/*  модалка */

.save-memories[open] {
  max-inline-size: 353px;
  display: grid;
  gap: 30px;
  padding: 30px;
}

.save-memories::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.need-floppy {
  display: flex;
  gap: 20px;
  align-items: center;
}

.memory-piece__description-modal {
  font-family: var(--header-and-button-font-family);
  font-size: var(--button-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

@media (width <= 376px) {
  .card__floppy-button {
    flex-direction: column;
    gap: 8px;
    padding-block: 16px;
  }

  .card__floppy-button .button__text {
    min-block-size: 0;
  }

  .card__floppy-icon {
    width: 29px;
    height: 29px;
  }
}

/* фильтры */

.sepia-filter {
  filter: sepia(0.6);
}

.opacity-filter {
  filter: opacity(0.8);
}

.grayscale-filter {
  filter: grayscale(75%);
}

.contrast-filter {
  filter: contrast(2);
}

.brightness-filter {
  filter: brightness(0.7);
}

.multi-filter {
  filter: hue-rotate(0.5turn) opacity(0.9);
}

.invert-filter {
  filter: invert(1);
}

.blur-filter {
  filter: blur(3px);
}
