/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --article-font-family: 'Inter-Variable', sans-serif;
  --article-font-weight-regular: 'wght' 410;
  --article-font-weight-bold: 'wght' 715;

  --header-and-button-font-family: 'PressStart2P', fantasy;
  --header-and-button-font-weight-regular: 400;

  --dotted-gradient:
    repeating-linear-gradient(
      to right,

      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,

      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --main-inline-size: clamp(375px, 260.5634px + 30.5164vw, 700px);
  --header-margin-block-start: clamp(98px, 100.7px - 0.188vw, 100px);
  --header-margin-block-end: clamp(96px, 101.41px - 0.376vw, 100px);
  --header-padding-block: clamp(120px, 116.4789px + 0.939vw, 130px);

  --adaptive-hero-title-font-size: clamp(49px, 43.366px + 1.502vw, 65px);
  --adaptive-hero-description-font-size: clamp(14px, 10.831px + 0.845vw, 23px);
  --basic-font-size: 18px;
  --button-font-size: 14px;

  --contrast-color: #fff;
  --secondary-color: #000;
  --heart-color: #f00;
}
